/* 
#234f72 azul
#c93131 rojo 
#da0e45 text
*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset */

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", "Trebuchet MS";
  /*   background-color: #234f72; */
}

#grid-container {
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  /*   padding: 24px;
  height: 100vh; */
}

.header {
  text-align: center;
  grid-area: header;
  background-color: white;
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav {
  margin-top: 1rem;
}

.nav__list {
  list-style: none;
  font-size: 1.5rem;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #bdbdbd;
}

.nav__link--active {
  color: #333;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.6;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* 
img,
svg {
  max-width: 100%;
  vertical-align: middle;
}
 */
/* Container */
/* 
.container {
  width: 90%;
  margin: 0 auto 0 auto;
  max-width: 1440px;
}

.container-2 {
  background-color: #234f72;
  color: white;
  margin: 0 auto 0 auto;
  max-width: 1440px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 */
/* Header + Nav */
/* 
header {
  background-color: white;
  padding: 0.7rem 0;
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 2;
}
 */
/* .nav__list {
  list-style: none;
  font-size: 1.2rem;
  display: flex;
}

.nav__item {
  margin-left: 1.5rem;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.5;
} */

/* 
#title-main {
  text-transform: uppercase;
  text-align: center;
  color: #da0e45;
  font-size: 2.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.main-p {
  font-size: 1.2rem;
  color: black;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.susten {
  margin-right: 2rem;
  text-align: right;
  padding-bottom: 2rem;
}

.confia {
  margin-left: 2rem;
  text-align: left;
  padding-bottom: 2rem;
}

.nuestros {
  margin-right: 2rem;
  text-align: right;
  padding-bottom: 2rem;
}

.multi-img {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.section-bot {
  color: white;
  text-align: center;
  background-color: #c93131;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

i {
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.legal {
  margin-left: 2rem;
}

.title-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logos-sm {
  text-align: right;
  margin-right: 2rem;
}

 */
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
  .logo {
    padding: 1.2rem;
  }
  .nav {
    flex: 1;
    margin-top: 0;
  }
  .nav__list {
    display: flex;
    justify-content: center;
  }
  .nav__item {
    margin-left: 2rem;
  }
  .main {
    align-items: center;
  }
}
