/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset */

/* 
#234f72 azul
#c93131 rojo 
#da0e45 text
*/

body {
  font-family: "Poppins", "Trebuchet MS";
  /*   background-color: #528fbf; */
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}

/* Container */

.container {
  width: 90%;
  margin: 0 auto 0 auto;
  max-width: 1440px;
}

.container-2 {
  background-color: #234f72;
  color: white;
  margin: 0 auto 0 auto;
  max-width: 1440px;
}

/* Container */

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  background-color: white;
  padding: 0.7rem 0;
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav__list {
  list-style: none;
  font-size: 1.2rem;
  display: flex;
}

.nav__item {
  margin-left: 1.5rem;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.5;
}

#title-main {
  text-transform: uppercase;
  text-align: center;
  color: #da0e45;
  font-size: 2.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.main-p {
  font-size: 1.2rem;
  color: black;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.susten {
  margin-right: 2rem;
  text-align: right;
  padding-bottom: 2rem;
}

.confia {
  margin-left: 2rem;
  text-align: left;
  padding-bottom: 2rem;
}

.nuestros {
  margin-right: 2rem;
  text-align: right;
  padding-bottom: 2rem;
}

.multi-img {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.section-bot {
  color: white;
  text-align: center;
  background-color: #c93131;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Footer */

i {
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.legal {
  margin-left: 2rem;
}

.title-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logos-sm {
  text-align: right;
  margin-right: 2rem;
}

/* Footer */

/*MEDIA QUERIES*/

/* @media (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .nav-toggle {
    display: none;
  }

  .nav {
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__item {
    margin-left: 1.5rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img-box {
    margin-top: 0;
    text-align: right;
  }
  .display-2 {
    font-size: 3.4rem;
    text-align: left;
  }

  .display-2--description {
    font-size: 1rem;
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .display-2 {
    font-size: 4.5rem;
  }
  .display-2--description {
    font-size: 1.4rem;
  }

  .nav__link--button {
    display: block;
  }
}
 */
