* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Trebuchet MS";
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#grid-container {
  max-width: 2560px;
  /*   margin-bottom: 2rem; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  /* height: 100vh; */
}

.header {
  text-align: center;
  grid-area: header;
  background-color: white;
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
}
.nav .nav__list {
  list-style: none;
  font-size: 1.5rem;
}
.nav .nav__list .nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #bdbdbd;
}
.nav .nav__list .nav__link--active {
  color: #333;
}
.nav .nav__list .nav__link:hover,
.nav .nav__list .nav__link:focus {
  opacity: 0.6;
}

@media (min-width: 1024px) {
  .main {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .col {
    width: 100%;
  }
  .col .content_1--img {
    margin-top: 0;
  }
  .col .content_2--img {
    margin-top: 0;
  }
  .col .content_3--img {
    margin-top: 0;
  }
  .content_1 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .content_2 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .content_3 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .content--title {
    text-align: right !important;
    font-size: 35px;
  }
  /* Main about 1024*/
  .about {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .about .about__content {
    text-align: end;
  }
  .about .about__content .about__title {
    padding-bottom: 1.2rem;
  }
  /* Main services 1024*/
  .services {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /* Main gallery 1024*/
  .gallery {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /* Main gallery 1024*/
  /* Main contact 1024*/
  .contact {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /* Main contact 1024*/
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
  .logo {
    padding: 1.2rem;
  }
  .nav {
    flex: 1;
    margin-top: 0;
  }
  .nav .nav__list {
    display: flex;
    justify-content: center;
  }
  .nav .nav__list .nav__item {
    margin-left: 2rem;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .main .main_content {
    display: flex;
    flex-direction: column;
  }
  .main .main__description {
    font-size: 22px;
    /*       margin-top: 24px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 50px; */
  }
  .main .main_img {
    align-items: center;
  }
}
.main {
  grid-area: main;
}
.main .main__title {
  color: #313030;
  text-align: center;
  font-size: 52px;
  font-weight: 450;
  padding: 1.2rem;
}
.main .main__description {
  color: #828282;
  text-align: center;
  padding: 1rem;
}
.main .main_img {
  animation: from-top 1.5s ease;
}

.col {
  text-align: center;
  padding: 0.5rem;
}

.content_general {
  margin-bottom: 0.2rem;
}
.content_general .content_1--text {
  /*   text-align: end; */
}
.content_general .content_1--text .content--title {
  color: #828282;
  text-align: center;
  margin: 15px;
}
.content_general .content_1--text .content--description {
  margin: 15px;
  text-align: center;
}

.section_bot {
  color: white;
  text-align: center;
  background-color: #c93131;
  margin-top: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section_bot .section_bot--title {
  margin-bottom: 1.2rem;
}
.section_bot button {
  margin: 0.5rem;
  padding: 1rem;
}

.about__content {
  text-align: center;
  margin-top: 30px;
  padding: 0.5rem;
}
.about__content .about__title {
  color: #313030;
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.about__content .about__title--2 {
  color: #828282;
  font-size: 25px;
  font-weight: 500;
  margin-top: 2rem;
}
.about__content .about__description {
  color: #828282;
  margin-top: 24px;
  padding: 1rem;
}

.about__img {
  text-align: center;
  padding: 2rem;
}
.about__img .about__img img {
  max-width: 100%;
}

.services {
  margin-bottom: 2.5rem;
}
.services .services__content--1 {
  margin-top: 30px;
}
.services .services__content--1 .services__title {
  color: #313030;
  text-align: center;
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.services__tittle--2 {
  color: #828282;
  padding: 0.8rem;
}

.services__tittle--3 {
  color: #828282;
  padding: 0.8rem;
}

.services .services__content--2 p {
  color: #828282;
  padding: 0.8rem;
}

.services__img img {
  max-width: 100%;
  padding: 0.8rem;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.gallery__content--1 {
  margin-top: 30px;
}

.gallery__title {
  color: #313030;
  text-align: center;
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.gallery__banner {
  text-align: center;
}
.gallery__banner .gallery__text {
  padding: 24px 0 12px 0;
  font-size: 20px;
}
.gallery__banner .gallery__link {
  text-decoration: none;
  color: #c93131;
  padding: 10px 0 7px 0;
  font-weight: 900;
}
.gallery__banner .gallery__link:hover {
  text-decoration: underline;
}

.img__right {
  animation: from-right 1.5s ease;
}

.img__left {
  animation: from-left 1.5s ease;
}

.img__bot {
  animation: from-bot 1.5s ease;
}

.contact__title {
  color: #313030;
  text-align: center;
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

form {
  background-color: white;
  border-radius: 3px;
  color: #999;
  font-size: 1.2rem;
  padding: 30px;
  margin: 0 auto;
  width: 300px;
}
form input,
form textarea {
  border: 0;
  outline: none;
  width: 280px;
}
form .field {
  border: solid 1px #ccc;
  padding: 10px;
}
form .field:focus {
  border-color: #18a383;
}
form .center-content {
  text-align: center;
}

footer {
  grid-area: footer;
  padding-top: 1rem;
  background-color: black;
}
footer .footer-sm {
  background-color: #212121;
  color: white;
}
footer .footer-sm .footer-sm__icons {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

.socials__link:hover {
  color: #585858;
}

.footer-bottom {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.footer-bottom .footer-bottom__copyright {
  justify-content: center;
  text-align: center;
  color: gray;
  font-weight: 400;
}

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-top {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes from-bot {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
