* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Trebuchet MS";
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#grid-container {
  max-width: 2560px;
  /*   margin-bottom: 2rem; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  /* height: 100vh; */
}

.header {
  text-align: center;
  grid-area: header;
  background-color: white;
  box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.2rem;

  .nav__list {
    list-style: none;
    font-size: 1.5rem;

    .nav__link {
      text-decoration: none;
      text-transform: uppercase;
      color: #bdbdbd;
    }

    .nav__link--active {
      color: #333;
    }

    .nav__link:hover,
    .nav__link:focus {
      opacity: 0.6;
    }
  }
}
