.main {
  grid-area: main;

  .main__title {
    color: #313030;
    text-align: center;
    font-size: 52px;
    font-weight: 450;
    padding: 1.2rem;
  }

  .main__description {
    color: #828282;
    text-align: center;
    padding: 1rem;
  }

  .main_img {
    animation: from-top 1.5s ease;
  }
}

.col {
  text-align: center;
  padding: 0.5rem;
}

.content_general {
  margin-bottom: 0.2rem;

  .content_1--text {
    /*   text-align: end; */

    .content--title {
      color: #828282;
      text-align: center;
      margin: 15px;
    }
    .content--description {
      margin: 15px;
      text-align: center;
    }
  }
}

.section_bot {
  color: white;
  text-align: center;
  background-color: #c93131;
  margin-top: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .section_bot--title {
    margin-bottom: 1.2rem;
  }

  button {
    margin: 0.5rem;
    padding: 1rem;
  }
}
