.services {
  margin-bottom: 2.5rem;

  .services__content--1 {
    margin-top: 30px;

    .services__title {
      color: #313030;
      text-align: center;
      font-size: 52px;
      font-weight: 500;
      margin-bottom: 0.8rem;
    }
  }
}

.services__tittle--2 {
  color: #828282;
  padding: 0.8rem;
}

.services__tittle--3 {
  color: #828282;
  padding: 0.8rem;
}

.services .services__content--2 p {
  color: #828282;
  padding: 0.8rem;
}

.services__img img {
  max-width: 100%;
  padding: 0.8rem;
}
